body {
  overflow: hidden;
}

.head {
  height: 65px;
}

.height {
  margin-top: 0;
  height: 726px;
}

.badge {
  height: 2.5pc;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.order {
  position: relative;
  height: 30pc;
}

.order-box {
  position: relative;
  height: 14pc;
  overflow: auto;
  z-index: 0;
  -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
}

.search {
  width: 6pc;
}

.category {
  cursor: pointer;
}

.invoice {
  background-color: white;
  height: 10pc;
  z-index: 2;
  position: relative;
  top: -10px;
  border-radius: 6px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgb(194, 194, 194);
  border-radius: 5px;
  height: 20%;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  border-radius: 20px;
  width: 2px;
  border: 5px solid rgb(77, 77, 77);
}

.category:active {
  background-color: rgb(213, 213, 213);
}

.edit-list {
  transform: scale(0.5);
}

@media screen and (max-width: 1680px) {
  .height {
    height: 720px;
  }
}

.produck-box {
  height: 644px;
  width: 0px;
}