body {
  overflow: hidden;
}

.head {
  height: 65px
}

@media screen and (max-height: 768px) {
  .height {
    height: 500px;
  }

  .order {
    top: 5pc;
    height: 30pc;
  }

  .height button {
    position: relative;
    top: -20px;
  }

  .card.ms-5 {
    margin-left: 25px !important;
  }

  .modal {
    left: 0;
  }

  .modal-content {
    margin-left: 5pc;
  }
}

.order-box {
  overflow: auto;
  z-index: 0;
  height: 12pc;
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.order-box .delete {
  cursor: pointer;
}

.search {
  width: 6pc;
}

.category {
  cursor: pointer;
}

.invoice {
  background-color: white;
  height: 10pc;
  z-index: 2;
  position: relative;
  top: -20px;
  border-radius: 6px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgb(194, 194, 194);
  border-radius: 5px;
  height: 20%;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  border-radius: 20px;
  width: 2px;
  border: 5px solid rgb(77, 77, 77);
}

.category:active {
  background-color: rgb(213, 213, 213);
}

.edit-list {
  transform: scale(0.5);
}

.produck-box {
  height: 644px;
  width: 0px;
}

.card {
  cursor: pointer;
}

#hasAdd {
  box-shadow: 0 1px 5px 1px rgb(137, 213, 235);
}

.add {
  font-size: 12px;
}

.modal {
  position: absolute;
  display: block;
  height: 92.5vh;
  width: 75vw;
  background-color: rgba(130, 130, 130, 0.806);
  left: 23.3pc;
  top: 4pc;
  z-index: 1;
}

.modal-content {
  position: relative;
  background-color: white;
  width: 105%;
  height: 100%;
  border: none;
  z-index: 2;
}

.model-content button {
  background: #000;
}

.desc {
  width: 225px;
}

.desc .counter {
  background-color: rgb(232, 232, 232);
  border: none;
  width: 30px;
  height: 30px;
}