body {
  overflow: hidden;
}

.head {
  height: 65px
}

/* Login */
.form-set {
  background-color: rgb(220, 238, 255);
}

@media screen and (max-width: 1024px) {}

@media screen and (max-height: 768px) {
  .height {
    height: 500px;
  }

  .order {
    top: 5pc;
    height: 30pc;
  }

  .height button {
    position: relative;
    top: -20px;
  }

  .card.ms-5 {
    margin-left: 25px !important;
  }

  .addModal {
    background-color: #000;
    left: 0pc !important;
  }

  .modal-content {
    margin-left: 5pc;
  }

  .invoice {
    margin-top: 85px !important;
  }
}

.order-box {
  overflow: auto;
  z-index: 0;
  height: 15pc;
  /* -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%); */
}

.order-box .delete {
  cursor: pointer;
}

.search {
  width: 6pc;
}

.category {
  cursor: pointer;
  background-color: white;
  width: 97.5%;
  border-radius: 5px;
}

.invoice {
  background-color: white;
  height: 3.5pc;
  z-index: 2;
  position: relative;
  top: -20px;
  border-radius: 6px;
  margin-top: 3rem;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(137, 137, 137, 0.151);
  border-radius: 5px;
  width: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  border-radius: 20px;
}

.category:active {
  background-color: #002442;
  color: white;
}

.edit-list {
  transform: scale(0.5);
}

.produck-box {
  height: 644px;
  width: 0px;
}

.card {
  cursor: pointer;
}

#hasAdd {
  box-shadow: 0 1px 5px 1px rgb(137, 213, 235);
}

.add {
  font-size: 12px;
}

.addModal {
  position: absolute;
  display: block;
  height: 92.5vh;
  width: 75vw;
  background-color: rgba(130, 130, 130, 0.806);
  left: 23.2pc;
  top: 4pc;
  z-index: 2;
}

.addModal-content {
  position: relative;
  background-color: white;
  width: 105%;
  height: 100%;
  border: none;
  z-index: 2;
}

.model-content button {
  background: #000;
}

.desc {
  width: 225px;
}

.desc .counter {
  background-color: rgb(232, 232, 232);
  border: none;
  width: 30px;
  height: 30px;
}

.alert-custom {
  width: 35%;
  text-align: center;
  bottom: 55%;
  height: 50px;
}

.selectedFile {
  box-shadow: 0 0 6px #03aee7;
  cursor: pointer;
}

.pop {
  position: absolute;
  display: inherit !important;
  align-self: flex-end;
  cursor: pointer;
}