.navcolor {
    background-color : #2e4d67;
}

.menucolor {
    background-color : #6a9fcb;
}

.menubtn-color {
    background-color : #dcefff;
}

.menubtn-color-active {
    background-color : #002442;
}

.menubtn-total {
    background-color : #ffecc2;
}